* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0 auto;
    background-color: #e6e6e6;
    line-height: 1.6em;
}


/* 
.main-grid {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: ;
    grid-template-columns: ;
}
 */


/* Typography & elements*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fira Mono', monospace;
    line-height: 1.4em;
    color: #d8535f;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.8em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

p {
    font-size: 1.1em;
    text-align: justify;
}

ul {
    list-style: none;
}

ul li::before {
    font-family: 'Fira Mono', monospace;
    content: "\2022";
    color: #d8535f;
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
    margin-left: 0;
}

nav a {
    font-family: 'Fira Mono', monospace;
    font-weight: 500;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    font-weight: bold;
}

nav a:active {
    font-weight: bold;
    color: #d8535f;
}

header #logo {
    height: 170px;
}


/* Form */

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
}

form>label {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    color: #333;
    text-align: left;
}

input,
textarea {
    font-family: 'Fira Code', monospace;
    font-size: 1em;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-style: none;
    border-radius: 10px;
    background-color: whitesmoke;
    color: #333;
    opacity: 0.6;
}

fieldset.checkboxes {
    margin: 20px 0;
    border: none;
    text-align: left;
}

.submit {
    font-family: 'Fira Code', monospace;
    background-color: #333;
    opacity: 1;
    color: #e6e6e6;
    padding: 8px 45px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
}

.submit:hover {
    background-color: #d8535f;
    color: whitesmoke;
}


/* Sections */

header {
    background-color: #333;
    color: #e6e6e6;
    padding: 2em;
    display: flex;
    justify-content: center;
    justify-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav {
    margin: 0 auto;
    max-width: 60vw;
}


/*Section Matthias*/

section {
    height: 100vh;
}

.section-wrap {
    width: 70%;
    margin: 0 auto;
    padding: 4%;
}

section:nth-child(even) {
    background-color: grey;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #e6e6e6;
    background-color: #d8535f;
}